@use '@angular/material' as mat;

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono:wght@100;300;500;700&display=swap');
@import 'prismjs/plugins/toolbar/prism-toolbar.css';
@import 'prismjs/themes/prism-okaidia.css';

$light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
));

$dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
));

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  @include mat.all-component-themes($light-theme);
}

main.dark-theme {
  @include mat.all-component-themes($dark-theme);
}

@include mat.core();
