@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;500;700&display=swap');

:root {
    --color-primary: #1e141f;
    --color-secondary: #87fdfe;
    --color-accent: #900fa0;
}

* {
    font-family: "Roboto Mono", serif;
    font-weight: 300;
}

body {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    margin: 0;
    padding: 0;
}

a {
    color: var(--color-secondary);
    text-decoration: none;
    border-bottom: 2px solid var(--color-accent);
}

a:hover {
    border-bottom: 2px solid var(--color-accent);
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    margin: 5px 0;
}

h2 {
    font-size: 3rem;
    font-weight: 700;
    margin: 5px 0;
}

p {
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 2.3rem;
}