@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono:wght@100;300;500;700&display=swap');
@import 'prismjs/plugins/toolbar/prism-toolbar.css';
@import 'prismjs/themes/prism-okaidia.css';

:root {
    --color-primary: #1e141f;
    --color-primary-opaque: rgba(30, 20, 31, 0.8);
    --color-secondary: #87fdfe;
    --color-accent: #900fa0;
    --article-width: 95%;
    --max-page-width: 95%;
}

@media (min-width: 800px) {
    :root {
        --article-width: 700px;
        --max-page-width: 700px;
    }
}

@media (min-width: 1400px) {
    :root {
        --max-page-width: 1200px;
    }
}

* {
    font-family: "Roboto Mono", serif;
    font-weight: 300;
}

body {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    margin: 0;
    padding: 0;
}

a {
    color: var(--color-secondary);
    text-decoration: none;
    border-bottom: 2px solid var(--color-accent);
}

a:hover {
    border-bottom: 2px solid var(--color-accent);
}

a.linkbtn {
    border: 2px solid var(--color-accent);
    padding: 8px 16px;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    font-weight: 500;
}

a.linkbtn:hover {
    background-color: var(--color-accent);
    color: var(--color-primary);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3,
h3 a {
    font-size: 2rem;
    font-weight: 500;
    line-height: 3.5rem;
}

h1,
h2 {
    text-shadow: 0 2px 3px var(--color-secondary);
    margin: 5px 0;
    font-weight: 700;
}

h4 {
    margin: 0;
}

p,
em {
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 2.3rem;
    font-family: "Roboto", serif;
}

.analog-markdown {
    max-width: var(--article-width);
    margin: 0 auto;
}

.analog-markdown img {
    max-width: 100%;
}

.analog-markdown p {
    margin: 40px 0;
    line-height: 2.5rem;
}

.analog-markdown h1,
.analog-markdown h2 {
    margin: 80px 0 20px;
    border-bottom: 4px solid var(--color-accent);
    padding-bottom: 16px;
}

.analog-markdown p code {
    padding: 0 8px;
    background-color: black;
}