@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;500;700&display=swap');

:root {
    --color-primary: #1e141f;
    --color-accent: #87fdfe;
    --color-accent-2: #900fa0;
}

* {
    font-family: "Roboto Mono", serif;
    font-weight: 300;
}

body {
    background-color: var(--color-primary);
    color: var(--color-accent);
    margin: 0;
    padding: 0;
}

a:hover {
    border-bottom: 2px solid var(--color-accent-2);
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    margin: 5px 0;
}

p {
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 2.3rem;
}